/* FLY */
.fly {
  color: white;
  font-size: 50px;
  font-family: "Markazi Text";
  font-weight: 400;
  word-wrap: break-word;
}

/* R */
.r {
  color: #1275EA;
  font-size: 50px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}

/* OUT */
.out {
  color: white;
  font-size: 50px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}

/* E */
.e {
  color: #1275EA;
  font-size: 50px;
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  word-wrap: break-word;
}

/* Home */
.home {
  color: white;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* From */
.from {
  color: #1275EA;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* To */
.to {
  color: #1275EA;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* Bookings */
.bookings {
  color: white;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* Login */
.login {
  color: white;
  font-size: 35px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* Submit */
.submit {
  color: white;
  font-size: 35px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* Sacramento International Airport */
.sacramento {
  color: #57606A;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* Texas International Airport */
.texas {
  color: #57606A;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}

/* FlyRoute Description */
.description {
  color: #57606A;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
  text-align: center;
}

/* Arrow */
.arrow {
  color: #57606A;
  font-size: 30px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

/* Create New Account */
.create-account {
  color: white;
  font-size: 35px;
  font-family: "Inter";
  font-weight: 600;
  word-wrap: break-word;
}
